<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Author:</strong>
  <%= @book.author %>
</p>

<p>
  <strong>Description:</strong>
  <%= @book.description %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
<% if !current_user.admin?%>
  <%= button_to 'Book request', book_requests_path(book_request:{ book_id: @book.id, request_date: Date.today}), method: :post %>  
<% end %>